.base {
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}

.number {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	float: left;
}

.text {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	margin-left: 20px;
	float: right;
}

.container {
	margin-left: auto;
	margin-right: auto;
}
