.number {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	display: inline-block;
	width: 100px;
	margin-left: 15%;
	color: white;
}

.text {
	text-align: left;
	color: white;
	width: 300;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	margin-left: 20px;
}

.label {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	margin-top: 150px;
	font-size: 4em;
	color: white;
}

.container2 {

}

#cover {
	position: absolute;
	fill: white;
	width: 30%;
	height: 100%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

body {
    background-image: url("back.jpg");
    background-size: 2000px 2000px;
    background-repeat: no-repeat;
    background-position: center center;
}
